@font-face {
    font-family: mypencil;
    src: url('font/orange juice 2.0.ttf');
      }
@font-face {
    font-family: my36;
    src: url('font/36Days-Regular.ttf');
      }

    body{
      background:rgb(179, 216, 218);
    }
    
      .first{
       font-family: my36;
       /* background: rgb(180, 138, 138); */
    }
    h1{
        font-family: mypencil;
        /* background-color: rgb(186, 228, 214); */
   }
   /* .welcome{
    background: red;
        font-family: mypencil;
   } */
   .container{
      background: rgba(228, 215, 215, 0.281);
   }
   /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


canvas{
border: 1px solid black;
position: center;
background:cadetblue;
}